{% extends "base.html" %}

{% set title = 'Inba News Summary App'|translate(lang) -%}
{% set site = 'hackernews' -%}
{% set description = 'Inba News Summary App leverages AI technology to extract summaries and illustrations from Hacker News posts, providing a seamless news scanning experience.' -%}

{% block head %}
    <meta name="description" content="{{ description }}">
    <link rel="canonical" href="https://hackernews.betacat.io/"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{{ title }}"/>
    <meta name="twitter:description" content="{{ description }}"/>
    {{ super() }}
{% endblock %}

{% block nav_brand %}
    <a class="navbar-brand" href="{{ config.site }}/">Inba News Summary App</a>
{% endblock %}

{% block nav_links %}
    <li>
        <a href="https://news.ycombinator.com/news" target="_blank" title="Hacker News front page">Front</a>
    </li>
    <li>
        <a href="https://news.ycombinator.com/front" target="_blank" title="Hacker News front page before">Past</a>
    </li>
{% endblock %}
